@media (max-width: 768px) {
    .titulo {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .container {
        width: 100%;
        max-width: none;
        aspect-ratio: auto;
    }

    .carrossel > ul > li > h1 {
        font-size: 50px;

    }

    .carrossel > ul > li > h2 {
        bottom: 10px;
        right: 10px;
        font-size: 20px;
    }

    .autor {
        font-size: 11px;
    }
}