@media (max-width: 768px) {
    .titulo {
        padding: 0 40px;
        margin-bottom: 10px;

        font-size: 29px;
    }

    .titulo:after {
        content: "";

        display: block;
        margin: 10px auto 0;

        width: 300px;
        height: 4px;

        background: #00b4d8;

        border-radius: 10px;
    }

    .container {
        width: 100%;
        max-width: none;

        aspect-ratio: auto;
    }

    .rank-numero {
        font-size: 50px;

        width: 50px;
        height: 50px;
    }

    .nome-praia {
        bottom: 0px;
        
        font-size: 15px;
    }

    .creditos {
        font-size: 11px;
    }
}