@media (max-width: 768px) {
    .titulo {
        font-size: 29px;
        padding: 0 40px;
        margin-bottom: 10px;
    }

    .titulo:after {
        content: "";
        display: block;
        width: 300px;
        height: 4px;
        background: #00b4d8;
        margin: 10px auto 0;
        border-radius: 10px;
    }

    .container {
        width: 100%;
        max-width: none;
        aspect-ratio: auto;
    }

    .carrossel > ul > li > h1 {
        font-size: 50px;
        width: 50px;
        height: 50px;
    }

    .carrossel > ul > li > h2 {
        bottom: 0px;
        font-size: 15px;
    }

    .autor {
        font-size: 11px;
    }
}