* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(135deg, #ffffff, #00e1ff);
}

.titulo {
    font-size: 50px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    color: #0d3b66;
    text-align: center;
}

.titulo:after {
    content: "";
    display: block;
    width: 600px;
    height: 4px;
    background: #00b4d8;
    margin: 10px auto 0;
    border-radius: 10px;
}

.autor {
    margin-top: 10px;
    font-size: 14px;
}

.autor > a {
    color: #111;
    text-decoration: none;
    font-weight: bold;
}

.autor > a:hover {
    text-decoration: underline;
    color: rgb(0, 248, 248);
    cursor: pointer;
}

.container {
    box-shadow: 2px 2px 4px #111;
    width: 90%;
    max-width: 800px;
    aspect-ratio: 16 / 9; /* Define a proporção do container para 16:9 */
    overflow: hidden; /* Esconde as partes das imagens que estão fora do container */
    border-radius: 20px;
}

.carrossel {
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.carrossel:hover {
    transform: scale(1.02);
}

.carrossel > ul > li > h1,
.carrossel > ul > li > h2 {
    position: absolute;
}

.carrossel > ul > li > h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 15px;
    right: 15px;
    color: #fff;
    background: rgba(0, 180, 216, 0.445);
    font-weight: bold;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 80px;
    z-index: 3;
}

.carrossel > ul > li > h2 {
    bottom: 47px;
    left: 0;
    padding-left: 10px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    color: #ffffff;
    z-index: 2;
}

.carrossel > ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    transition: transform 0.5s ease-in-out; /* Adiciona uma transição suave para a movimentação das imagens */
    transform: translateX(0); /* Posição inicial das imagens */
}

.carrossel > ul > li {
    position: relative;
    min-width: 100%;
}

.carrossel > ul > li > img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem preencha o container sem distorção */
    display: block;
    z-index: 0;
}