/* Reset e configuração global */
* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
}

/* Estrutura principal */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 100vh;

    background: linear-gradient(135deg, #ffffff, #00e1ff);
}

/* Título principal */
.titulo {
    font-size: 50px;
    letter-spacing: 2px;
    
    text-align: center;
    margin-bottom: 20px;

    color: #0d3b66;
}

/* Linha decorativa abaixo do título */
.titulo:after {
    content: "";

    display: block;
    margin: 10px auto 0;

    width: 600px;
    height: 4px;

    background: #00b4d8;

    border-radius: 10px;
}

/* Container do carrossel */
.container {
    width: 90%;
    max-width: 800px;
    aspect-ratio: 16 / 9; /* Define a proporção do container para 16:9 */

    overflow: hidden; /* Evita que imagens vazem do container */
    
    box-shadow: 2px 2px 4px #111;
    border-radius: 20px;
}

/* Efeito visual do carrossel */
.carrossel {
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);

    transition: transform 0.3s ease;
}

.carrossel:hover {
    transform: scale(1.02);
}

/* Estrutura interna do slide */
.carrossel > ul {
    display: flex;

    list-style: none;

    transition: transform 0.5s ease-in-out; /* Adiciona uma transição suave para a movimentação das imagens */
    transform: translateX(0); /* Posição inicial das imagens */
}

.carrossel > ul > li {
    position: relative;

    min-width: 100%;
}

/* Número do ranking */
.rank-numero {
    position: absolute;
    top: 15px;
    right: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 80px;
    height: 80px;
    
    background: rgba(0, 180, 216, 0.445);
    color: #fff;
    font-weight: bold;
    font-size: 80px;
    
    border-radius: 50%;
    z-index: 3;
}

/* Nome da praia */
.nome-praia {
    position: absolute;
    bottom: 47px;
    left: 0;
    
    width: 100%;
    padding-left: 10px;
    
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    color: #ffffff;
    
    z-index: 2;
}

/* Imagem do carrossel */
.imagens {
    width: 100%;
    height: 100%;

    display: block;
    object-fit: cover; /* Garante que a imagem preencha o container sem distorção */

    z-index: 0;
}

/* Créditos e links */
.creditos {
    margin-top: 10px;

    font-size: 14px;
}
    
.creditos > a {
    color: #111;
    text-decoration: none;
    font-weight: bold;
}
    
.creditos > a:hover {
    text-decoration: underline;
    color: rgb(17, 0, 248);

    cursor: pointer;
}